<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class=""></div>
  <mat-toolbar>
    <span>
      <a mat-raised-button color="primary" [routerLink]="['/study-programs']">
        Назад
      </a>
    </span>
  </mat-toolbar>
  <div class="inside-container">
    <h1>Добавяне на специалност</h1>
    <form [formGroup]="studyProgram" (ngSubmit)="onFormSubmit(studyProgram.value)">
      <table class="example-full-width" cellspacing="0">
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Име на специалността" formControlName="name">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Степен" formControlName="degree">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Продължителност на обучение" formControlName="lengthOfStudy">
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="example-full-width">
              <textarea matInput placeholder="Описание" formControlName="description"></textarea>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>Тип на обучение</mat-label>
              <mat-select [(ngModel)]="typeOfStudy" formControlName="typeOfStudy">
                <mat-option *ngFor="let form of formOfEducations" [value]="form.value">
                  {{form.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td formGroupName="faculty">
            <ng-select [items]="faculties" bindLabel="name" bindValue="id" placeholder="Факултети"
            [(ngModel)]="faculty_id" formControlName="id">
            </ng-select>
          </td>
        </tr>
        <tr>
          <td>
            <span>
              <button mat-raised-button type="submit" [disabled]="!studyProgram.valid" color="primary">Запази</button>
            </span>
          </td>
        </tr>
      </table>
    </form>

  </div>
</div>
