<!-- <mat-toolbar>
  <a mat-raised-button color="primary" [routerLink]="['/students/add']">
    Добави Студент 
  </a> <span class="example-spacer"></span>
  <a mat-raised-button color="primary" [routerLink]="['/students/add']">
    Добави Специалност
  </a> 
  <a mat-raised-button color="primary" [routerLink]="['/students/add']">
    Добави Факултет
  </a>
</mat-toolbar> -->
<div class="mb-3">
<button mat-button [matMenuTriggerFor]="students">Студенти</button>
<button mat-button [matMenuTriggerFor]="faculties">Факултети</button>
<button mat-button [matMenuTriggerFor]="studyPrograms">Студентски Програми</button>
</div>

<mat-menu #students="matMenu">
  <button mat-menu-item [routerLink]="['/students/']">Всички Студенти</button>
  <button mat-menu-item [routerLink]="['/students/add']">Добави Студент</button>
</mat-menu>

<mat-menu #faculties="matMenu">
  <button mat-menu-item [routerLink]="['/faculties/']">Всички Факултети</button>
  <button mat-menu-item [routerLink]="['/faculties/add']">Добави Факултет</button>
</mat-menu>

<mat-menu #studyPrograms="matMenu">
  <button mat-menu-item [routerLink]="['/study-programs/']">Всички Студентски Програми</button>
  <button mat-menu-item [routerLink]="['/study-programs/add']">Добави Студентски Програма</button>
</mat-menu>



