<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <mat-toolbar>
    <span>
      <a mat-raised-button color="primary" [routerLink]="['/study-programs']">
        Назад
      </a>
    </span>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-content>

      <div class="mat-table">
        <div class="mat-header-row">
          <div class="mat-cell">Студентска програма: <b>{{ studyProgram.name }}</b></div>
        </div>
        <div class="mat-header-row">
          <div class="mat-cell">Степен на образование: <b>{{ studyProgram.degree }}</b></div>
        </div>
        <div class="mat-header-row">
          <div class="mat-cell">Тип на обучение : <b>{{(studyProgram.typeOfStudy == 1) ? 'Редовно' : 'Задочно' }}</b></div>
        </div>
        <div class="mat-header-row">
            <div class="mat-cell">Продължителност на обучението : <b>{{ studyProgram.lengthOfStudy }}</b></div>
          </div>
        <div class="mat-header-row">
          <div class="mat-cell">Име на факултет: <b>{{ studyProgram.faculty.name }}</b></div>
        </div>
        <div class="mat-header-row">
            <div class="mat-cell">Описание: <b>{{ studyProgram.description }}</b></div>
          </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/study-programs/edit/', studyProgram.id]" mat-button>Редактирай</button>
      <button (click)="deleteStudyProgram(studyProgram.id)" mat-button color="warn" style="color:red;">Изтрий</button>
    </mat-card-actions>
  </mat-card>

</div>
