<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade"
  *ngIf="isLoadingResults">
   <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
 </div>
  <mat-toolbar>
    <span>
      <a mat-raised-button color="primary" [routerLink]="['/faculties']">
        Назад
      </a>
    </span>
  </mat-toolbar>
  <mat-card class="example-card">
      <mat-card-content>

          <div class="mat-table">
              <div class="mat-header-row">
                <div class="mat-cell">Име на факултет: <b>{{faculty.name}}</b></div>
              </div>
            </div>

      </mat-card-content>
      <mat-card-actions>
        <button [routerLink]="['/faculties/edit/', faculty.id]" mat-button>Редактирай</button>
        <button (click)="deleteFaculty(faculty.id)" mat-button color="warn" style="color:red;">Изтрий</button>
      </mat-card-actions>
    </mat-card>
    
</div>