<div class="example-container mat-elevation-z8">
    <div class="example-loading-shade"
    *ngIf="isLoadingResults">
     <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
   </div>
    <mat-toolbar>
      <span>
        <a mat-raised-button color="primary" [routerLink]="['/students']">
          Назад
        </a>
      </span>
    </mat-toolbar>
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{student.firstName}} {{student.lastName}}</mat-card-title>
          <mat-card-subtitle>{{student.studentNumber}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../assets/avatarPlaceholder.png" alt="{{student.firstName}} {{student.lastName}}">
        <mat-card-content>

            <div class="mat-table">
                <div class="mat-header-row">
                  <div class="mat-header-cell">Студентски Номер:</div>
                  <div class="mat-cell">{{student.studentNumber}}</div>
                </div>
                <div class="mat-header-row">
                  <div class="mat-header-cell">Година на следване:</div>
                  <div class="mat-cell">{{student.yearOfStudy}} г.</div>
                </div>
                <div class="mat-header-row">
                  <div class="mat-header-cell">Форма на обучение:</div>
                  <div class="mat-cell">{{ (student.formOfEducation == 1) ? 'Редовно' : 'Задочно' }}</div>
                </div>
                <div class="mat-header-row">
                    <div class="mat-header-cell">Специалност:</div>
                    <div class="mat-cell">{{ student.studyProgram.name }} </div>
                </div>
              </div>

        </mat-card-content>
        <mat-card-actions>
          <button [routerLink]="['/students/edit/', student.id]" mat-button>Редактирай</button>
          <button (click)="deleteStudent(student.id)" mat-button color="warn">Изтрий</button>
        </mat-card-actions>
      </mat-card>

  </div>
