.example-card {
  width: 432px;
}
.example-container {
  width: 464px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-header-image {
  background-image: url('../../assets/avatarPlaceholder.png');
  background-size: cover;
}