<div class="example-container mat-elevation-z8">
  <div class="example-loading-shade" *ngIf="isLoadingResults">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>
  <div class=""></div>
  <mat-toolbar>
    <span>
      <a mat-raised-button color="primary" [routerLink]="['/faculties']">
        Назад
      </a>
    </span>
  </mat-toolbar>
  <div class="inside-container">
    <h1>Добавяне на Факултет</h1>
    <form [formGroup]="facultyForm" (ngSubmit)="onFormSubmit(facultyForm.value)">
    <table class="example-full-width" cellspacing="0">
      <tr>
        <td>
          <mat-form-field class="example-full-width">
            <input [value]='faculty.name' matInput placeholder="Име на факултет" formControlName="name">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <span>
            <button mat-raised-button type="submit" [disabled]="!facultyForm.valid" color="primary">Запази</button>
          </span>
        </td>
      </tr>
    </table>
  </form>

  </div>
</div>